@CHARSET "UTF-8";

#message {
	font-family: Quicksand-Book;
	font-size:12px;
	display:none;
}

@font-face
{
	font-family: BeBas;
	src: url('../assets/BEBAS___.ttf')
}

@font-face
{
	font-family:Quicksand-Light;
	src: url('../assets/Quicksand_Light.otf');
}

@font-face
{
	font-family:Quicksand-Book;
	src: url('../assets/Quicksand_Book.otf');
}

@font-face
{
	font-family:Quicksand-Bold;
	src: url('../assets/Quicksand_Bold.otf');
}

html, body {
	background-color: grey;
}

body {
	min-width:307px;
	min-height:421px;
	background-image:url('../assets/background.png');
	background-repeat:no-repeat;
	stext-shadow: #fff 0 1px 0;
}

a.std_link {
	color:white;
	text-decoration:underline;
}

a.std_link:hover {
	text-decoration:none;
}


#clock {
    position: relative;
}

#main {
	width:307px;
	height:421px;
}

#message {
	position: absolute;
	top:200px;
}

#navigation {
	width: 215px;
	margin: 0px auto;
	padding-top:92px;
	display:block;
}

#navigation li a {
	height: 44px;
	width:43px;
	background-image:url('../assets/pagination_button.png');
	display:inline;
	float:left;
	background-repeat:no-repeat;
	text-indent:-9999px;
	outline: none;
}

#navigation li a.unselected {
	background-position:0px 0px;
}

#navigation li a.unselected:hover {
	background-position:0px -44px;
}

#navigation li a.selected {
	background-position:0px -44px;
	border:none;
}

#pages {
	margin-top:50px;
}

#pages div{
	position:fixed;
}

#pages div.unselected {
	display:none;
}

#pages div.selected {
	display:block;
}

#page_1_controls a {
	width:96px;
	height:46px;
	display:inline;
	float:left;
	background-position:0px 0px;
	background-repeat: no-repeat;
	text-indent:-9999px;
}

h1.label {
	font-family:Quicksand-Light;
	text-align:center;
	font-size:28px;
	color:white;
	margin-top: 20px;
	width:307px;
}

#distancecanvas,#distancecanvas_p3 {
	margin-top:8px;
	display:block;
}

.unit {
	font-family: Quicksand-Book;
	font-size:12px;
	position:fixed;
	top:277px;
	left:270px;
	color:white
}

#page_1_sharebox {
	font-family: Quicksand-Book;
	font-size:13px;
	color:white;
	margin:192px 23px;
}

#page_1_controls {
	margin: 133px 106px;
}

#page_1 a.playpause_button_stateplay {
	background-image:url('../assets/stop_button.png');
}

#page_1 a.playpause_button_statepause {
	background-image:url('../assets/play_button.png');
}

#page_1 a:hover{
	background-position:0px -45px;
}
#page_1 a:active{
	background-position:0px -91px;
}

#landmark_container {
	padding-top: 20px;
	padding-left: 18px;
	width:278px;
	height:212px;
	overflow:hidden;
	text-align:center;
	font-family:Quicksand-Book;
	font-size:13px;
	color:white;
}

#landmark_container p {
	padding-bottom:15px;
}

#landmark_container .landmark_line {
	border-top: 2px solid white;
	width:210px;
	height:2px;
	margin-left:30px;
}


#config {
	padding-left:69px;
	padding-top:40px;
	text-align:center;
}

#config li {
	margin-bottom:36px;
}

#config a {
	color:white;
	font-size:20px;
	text-decoration:none;
}

.config_selected {
	font-family: Quicksand-Bold;
}

.config_unselected {
	font-family: Quicksand-Book;
}
