@CHARSET "UTF-8";

#message {
	font-family: Quicksand-Book;
	font-size:12px;
	display:none;
}

@font-face
{
	font-family: BeBas;
	src: url('../assets/BEBAS___.ttf')
}

@font-face
{
	font-family:Quicksand-Light;
	src: url('../assets/Quicksand_Light.otf');
}

@font-face
{
	font-family:Quicksand-Book;
	src: url('../assets/Quicksand_Book.otf');
}

html, body {
	background-color: grey;
}

body {
	min-width:307px;
	min-height:421px;
	background-image:url('../assets/background.png');
	background-repeat:no-repeat;
}
h1 {
 	font-family: Quicksand-Light, sans-serif;
	font-size:24px;
}

#clock {
    position: relative;
}

#main {
	width:307px;
	height:421px;
}

#message {
	position: absolute;
	top:200px;
}

#navigation {
	width: 215px;
	margin: 0px auto;
	padding-top:92px;
	display:block;
}

#navigation li a {
	height: 44px;
	width:43px;
	background-image:url('../assets/pagination_button.png');
	display:inline;
	float:left;
	background-repeat:no-repeat;
	text-indent:-9999px;
	outline: none;
}

#navigation li a.unselected {
	background-position:0px 0px;
}

#navigation li a.unselected:hover {
	background-position:0px -44px;
}

#navigation li a.selected {
	background-position:0px -44px;
	border:none;
}

#pages {
	margin-top:50px;
}

#pages div{
	position:fixed;
}

#pages div.unselected {
	display:none;
}

#pages div.selected {
	display:block;
}

#page_1 a {
	width:96px;
	height:46px;
	display:inline;
	float:left;
	background-position:0px 0px;
	background-repeat:none;
	text-indent:-9999px;
}

#page_1 img.label {
	margin: 20px 95px;
}

#page_1 div.distance {
	color:white;
}

#distancecanvas {
	margin-top:-10px;
	display:block;
}

#page_1_unit {
	font-family: Quicksand-Book;
	font-size:12px;
	position:fixed;
	top:277px;
	left:270px;
}

#page_1_sharebox {
	font-family: Quicksand-Book;
	font-size:13px;
	color:white;
	margin:192px 23px;
}

#page_1_controls {
	margin: 133px 106px;
}

#page_1 a.playpause_button_stateplay {
	background-image:url('../assets/play_button.png');
}

#page_1 a:hover{
	background-position:0px -45px;
}
#page_1 a:active{
	background-position:0px -91px;
}