@CHARSET "UTF-8";

@font-face
{
	font-family: BeBas;
	src: url('../assets/BEBAS___.ttf')
}

@font-face
{
	font-family:Quicksand-Light;
	src: url('../assets/Quicksand_Light.otf');
}

html, body {
	background-color: white;
}

body {
	min-width:307px;
	min-height:421px;
	background-image:url('../assets/background.png');
	background-repeat:no-repeat;
}
h1 {
 	font-family: Quicksand-Light, sans-serif;
	font-size:24px;
}

#clock {
    position: relative;
}

#main {
	width:307px;
	height:421px;
}

#message {
	position: absolute;
	top:200px;
}